

<div *ngIf="dataLoaded">
  <main role="main">
    <button *ngIf="notFirst" (click)="previousItem()" mat-icon-button class="previous-btn">
      <mat-icon>arrow_drop_up</mat-icon>
    </button>  
    <div class="container">
        <section class="background">
          <div class="content-wrapper">
            <p class="content-title">{{text.i.title}}</p>
            <p class="content-subtitle">{{text.i.subtitle}}</p>     
          </div>
        </section>
        <section class="background">
          <div class="content-wrapper">
            <p class="content-title">{{text.ii.title}}</p>
            <p class="content-subtitle">{{text.ii.subtitle}}</p>
          </div>
        </section>
        <!--<section class="background">
          <div class="content-wrapper">
            <p class="content-title">{{text.iii.title}}</p>
            <p class="content-subtitle">{{text.iii.subtitle}}</p>
          </div> 
        </section>-->
        <section class="background">
          <div class="content-wrapper">
            <p class="content-title">{{text.iv.title}}</p>
            <p class="content-subtitle">{{text.iv.subtitle}}</p>
          </div> 
        </section>
        <section class="background">
          <div class="content-wrapper">
            <p class="content-title">{{text.precompare.title}}</p>
            <p class="content-subtitle">{{text.precompare.subtitle}}</p>
          </div> 
        </section>
        <section class="background">
          <img-comparison-slider>
            <img slot="before" src="https://www.dropbox.com/s/g8pci5lgbkejkzc/before1.jpg?raw=1" />
            <img slot="after" src="https://www.dropbox.com/s/78dauy3hdex5eoi/after1.jpg?raw=1" />
          </img-comparison-slider>
      </section>
      <section class="background">
        <img-comparison-slider>
          <img slot="before" src="https://www.dropbox.com/s/agn8apfa23bizn9/before2.jpg?raw=1" />
          <img slot="after" src="https://www.dropbox.com/s/2jrg0k6x76mbowm/after2.jpg?raw=1" />
        </img-comparison-slider>
      </section>
      <section class="background">
        <img-comparison-slider>
          <img slot="before" src="https://www.dropbox.com/s/72il4oevcdh6wr6/before3.jpg?raw=1" />
          <img slot="after" src="https://www.dropbox.com/s/4xhd9o147iatf1g/after3.jpg?raw=1" />
        </img-comparison-slider>
      </section>
      <section class="background">
        <img-comparison-slider>
          <img slot="before" src="https://www.dropbox.com/s/msw7zjtbl8pqmqc/before4.jpg?raw=1" />
          <img slot="after" src="https://www.dropbox.com/s/eil0swo2d5w2478/after4.jpg?raw=1" />
        </img-comparison-slider>
      </section>
        <section class="background">
            <img-comparison-slider>
              <img slot="before" src="https://www.dropbox.com/s/542fut7eu8mb7fu/before5.jpg?raw=1" />
              <img slot="after" src="https://www.dropbox.com/s/atw525xm4y6nzr5/after5.jpg?raw=1" />
            </img-comparison-slider>
        </section>
       
    </div>
    <button *ngIf="notLast" (click)="nextItem()" mat-icon-button  class="next-btn">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
</main>
</div>