<main role="main">
    <section class="ui-section-hero hero-img">
      <div class="ui-layout-container">
        <h1>{{text.title}}</h1>
      </div>
    </section>

    <section class="ui-section-feature" style="margin-top:0px">
      <table class="desktop" width=100% cellspacing="80">
        <tr>
          <th width="50%"><h1>{{text.column1.headline}}</h1></th>
          <th width="50%"><h1>{{text.column2.headline}}</h1></th>
        </tr>
        <tr valign="top">
          <td><p [innerHTML]="text.column1.text"></p></td>
          <td><p [innerHTML]="text.column2.text"></p></td>
        </tr>
      </table>
      <table class="mobile" width=80% cellspacing="80">
        <tr><th width="50%"><h1>{{text.column1.headline}}</h1></th></tr>
        <tr><td><p [innerHTML]="text.column1.text"></p></td></tr>
        <tr><th width="50%"><h1>{{text.column2.headline}}</h1></th></tr>
        <tr><td><p [innerHTML]="text.column2.text"></p></td></tr>
      </table>
        <img src="https://www.dropbox.com/s/u09kxfoxi3bphvr/profile.jpg?raw=1" class="subline-img">
      </section>
</main>
