.hero-img {
    background-image: url(https://www.dropbox.com/s/rdlv7qa3npqaf9u/head.jpg?raw=1);
}

.subline-img {
      width:20em;
      border-radius: 100%;
      border-width:12px;
      border-style: solid;
      border-color: #aeaeae;
      margin-top:3em;
}