<main role="main">
    <section class="ui-section-hero hero-img">
      <div class="ui-layout-container">
        <h1>{{text.title}}</h1>
      </div>
    </section>

    <section class="ui-section-feature">
        <div class="ui-layout-container">
        <h1>{{text.headline}}</h1>
        <p>{{text.lines.i}}</p>
        <p>{{text.lines.ii}}</p>
        <p>{{text.lines.iii}}</p>
        </div>
        <img src="https://www.dropbox.com/s/u09kxfoxi3bphvr/profile.jpg?raw=1" class="subline-img">

      </section>
</main>
