<main role="main">
    <section class="ui-section-hero hero-img">
      <div class="ui-layout-container">
        <h1>{{text.title}}</h1>
      </div>
    </section>

    <section class="ui-section-feature" style="margin-top:0px">
      <table class="desktop" valign="top" width=100% cellspacing="80">
        <tr valign="top">
          <td width="50%"><h1 style="font-family: 'Dancing Script', cursive;">{{text.column1.headline}}</h1>
            <p [innerHTML]="text.column1.text">
            <p [innerHTML]="text.column2.text">
          </td>
          <th width="50%">
            <img src="https://www.dropbox.com/s/u09kxfoxi3bphvr/profile.jpg?raw=1" class="subline-img"><br>
            <img src="https://www.dropbox.com/s/5x7zdi9qnrf05r2/profile2.jpg?raw=1" class="subline-img">
          </th>
        </tr>
      </table>
      <table class="mobile" width=80% cellspacing="80">
        <tr><th width="50%"><h1>{{text.column1.headline}}</h1></th></tr>
        <tr><td><p [innerHTML]="text.column1.text"></p></td></tr>
        <tr><td><p [innerHTML]="text.column2.text"></td></tr>
        <tr><td><img width=100% src="https://www.dropbox.com/s/u09kxfoxi3bphvr/profile.jpg?raw=1" class="subline-img"></td></tr>
        <tr><td><img width=100% src="https://www.dropbox.com/s/5x7zdi9qnrf05r2/profile2.jpg?raw=1" class="subline-img"></td></tr>
      </table>
        
      </section>
</main>
