<main role="main">
    <section class="ui-section-hero">
      <div class="ui-layout-container">
        <section id="slider" (mouseover)="stopSliderSubscriber()" (mouseout)="startSliderSubscriber()">
            <input type="radio" name="slider" id="s1" value="s1" [ngModel]="sliderValue">
            <input type="radio" name="slider" id="s2" value="s2" [ngModel]="sliderValue">
            <input type="radio" name="slider" id="s3" value="s3" [ngModel]="sliderValue">
            <input type="radio" name="slider" id="s4" value="s4" [ngModel]="sliderValue">
            <input type="radio" name="slider" id="s5" value="s5" [ngModel]="sliderValue">
            <label for="s1" id="slide1" data-rellax-speed="-4">
                <h1>{{text.diashow.service.title}}</h1>
            </label>
            <label for="s2" id="slide2">
                <h1>{{text.diashow.about.title}}</h1>
            </label>
            <label for="s3" id="slide3">
                <h1>{{text.diashow.example.title}}</h1>
            </label>
            <label for="s4" id="slide4">
                <h1>{{text.diashow.contact.title}}</h1>
            </label>
            <label for="s5" id="slide5">
                <h1>{{text.diashow.impress.title}}</h1>
            </label>
        </section>
      </div>
    </section>
    <section class="ui-section-customer">
      <div class="ui-layout-container">
        <div class="ui-section-customer__layout ui-layout-flex">
        </div>
      </div>
    </section>
    <section class="ui-section-feature">
      <div class="ui-layout-container">
        <div class="preview ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
          <!-- IMAGE -->
          <div id="aboutImg" alt="#" class="ui-image-half-left"></div>
          <!-- FEATURE -->
          <div>
            <div id="aboutImg" alt="#" class="ui-mobile-image"></div>
            <h2>{{text.about.title}}</h2>
            <p class="ui-text-intro"[innerHTML]="text.about.description"></p>
            <div class="button-wrapper"><button type="button" mat-raised-button class="mat-raised-button mat-button-base ui-component-button-normal-decent" (click)="navigateToPage(1)">{{text.about.more}}</button></div>
        </div>
        </div>
        <div class="preview ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
            <!-- FEATURE -->
            <div>
              <div id="exampleImg" alt="#" class="ui-mobile-image"></div>
              <h2>{{text.examples.title}}</h2>
              <p class="ui-text-intro"[innerHTML]="text.examples.description"></p>
              <div class="button-wrapper"><button type="button" mat-raised-button class="mat-raised-button mat-button-base ui-component-button-normal-decent" (click)="navigateToPage(2)">{{text.examples.more}}</button></div>
            </div>
            <!-- IMAGE -->
            <div id="exampleImg" alt="#" class="ui-image-half-right"></div>
        </div>
        <div class="preview ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
        <!-- IMAGE -->
          <div id="serviceImg" alt="#" class="ui-image-half-left"></div>
          <!-- FEATURE -->
          <div>
            <div id="serviceImg" alt="#" class="ui-mobile-image"></div>
            <h2>{{text.services.title}}</h2>
            <p class="ui-text-intro"[innerHTML]="text.services.description"></p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.features.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.features.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.features.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.features.iv}}</li>
            </ul>
            <div class="button-wrapper"><button type="button" mat-raised-button class="mat-raised-button mat-button-base ui-component-button-normal-decent" (click)="navigateToPage(0)">{{text.services.more}}</button></div>
          </div>
          
        </div>
      </div>
    </section>
    <!--<section class="ui-section-testimonial">
      <div class="ui-layout-container">
        <div class="ui-section-testimonial__layout ui-layout-grid ui-layout-grid-2">
          <div class="ui-layout-column-4">
            <img src="https://res.cloudinary.com/uisual/image/upload/assets/icons/avatar.svg" alt="#" class="ui-section-testimonial--avatar">
            <p class="ui-section-testimonial--quote ui-text-intro"[innerHTML]="text.feedback.i.quote"></p>
            <p class="ui-section-testimonial--author"><strong>{{text.feedback.i.name}}</strong>
          </div>
          <div class="ui-layout-column-4">
            <img src="https://res.cloudinary.com/uisual/image/upload/assets/icons/avatar.svg" alt="#" class="ui-section-testimonial--avatar">
            <p class="ui-section-testimonial--quote ui-text-intro"[innerHTML]="text.feedback.ii.quote"></p>
            <p class="ui-section-testimonial--author"><strong>{{text.feedback.ii.name}}</strong>
          </div>
        </div>
      </div>
    </section>-->
    <section class="ui-section-close">
      <div class="ui-layout-container">
        <div class="ui-layout-column-6 ui-layout-column-center">
          <h2>{{text.interested.head}}</h2>
          <p class="ui-text-intro">{{text.interested.body}}</p>
          <!-- CTA -->
          <div class="ui-component-cta ui-layout-flex">
            <a href="contact" role="link" aria-label="#" mat-raised-button class="mat-raised-button mat-button-base ui-component-button-normal bigger-button">{{text.interested.contact}}</a>
          </div>
        </div>
      </div>
    </section>
</main>
