  //SLIDER
  
  [type=radio] {
    display: none;
  }
  
  #slider {
    height: 50vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  #slider label {
    margin: auto;
    width: 50vw;
    height: 50vw;
    border-radius: 4px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 2s ease;
  }

  #slider label h1 {
      text-align:center;
      margin-top:50px;
  }

  #slider label p {
    background-color:rgba(255,255,255,.5);
    width:80%;
    margin:0 auto;
    margin-top:100px;
  }
  
  #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
  }
  
  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3, #s4:checked ~ #slide4,
  #s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%,0,-100px);
  }
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
  }
  
  #slide1 { 
    background-image: url(https://www.dropbox.com/s/cdcd8z2ehn330w0/example1.jpg?raw=1);
    background-repeat: no-repeat;
    background-size: cover;
}
  #slide2 { 
    background-image: url(https://www.dropbox.com/s/6xuax1hk0as64xo/example2.jpg?raw=1); 
    background-repeat: no-repeat;
    background-size: cover;
  }
  #slide3 { 
    background-image: url(https://www.dropbox.com/s/yh5ezrf9fqxtcbo/example3.jpg?raw=1); 
    background-repeat: no-repeat;
    background-size: cover;
  }
  #slide4 { 
    background-image: url(https://www.dropbox.com/s/ldbxllyzu5cl173/example4.jpg?raw=1); 
    background-repeat: no-repeat;
    background-size: cover;
  }
  #slide5 { 
    background-image: url(https://www.dropbox.com/s/f70bw57ax9wdxp8/example5.jpg?raw=1); 
    background-repeat: no-repeat;
    background-size: cover;
  }

// Navigation

  #aboutImg {
    background-image: url(https://www.dropbox.com/s/4wrja4rqwkex530/about.jpg?raw=1);
  }
  #exampleImg {
    background-image: url(https://www.dropbox.com/s/xr8h8n76k72idqa/examples.jpg?raw=1);
  }
  #serviceImg {
    background-image: url(https://www.dropbox.com/s/ypsb472lpt0xr18/service.jpg?raw=1);
  }

  .button-wrapper {
      text-align:center;
  }


.ui-section-feature__layout:last-of-type {
  margin-top:0rem;
}
.ui-section-feature__layout {
  row-gap: 0;
  margin-bottom:3rem;
}

.preview h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 40px;
}