.hero-img {
    background-image: url(https://www.dropbox.com/s/q1zbzgwdemizyds/head.jpg?raw=1);
    color: #fff;
}

.example-full-width {
    width: 100%;
  }

  .tp-container {
    display: flex;
    flex-direction: column;
 }
 .tp-container > * {
    width: 100%;
 }

 ::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}

.control-buttons {
  margin-top:25px;
}