<main role="main">
  <section class="ui-section-hero hero-img">
    <div class="ui-layout-container">
      <h1>{{text.title}}</h1>
    </div>
  </section>

  <section class="ui-section-feature">
      <div class="ui-layout-container">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
          <div class = "tp-container">
            <mat-form-field appearance = "standard">
              <mat-label>{{text.labels.name}}l</mat-label>
               <input matInput required formControlName="name" pattern="^[a-zA-ZäÄöÖüÜ -]*">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>{{text.labels.email}}</mat-label>
              <input matInput placeholder="{{text.labels.email}}" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" formControlName="email" required>
            </mat-form-field>
            <mat-form-field appearance = "outline">
               <mat-select value="concern" required formControlName="concern" placeholder = "{{text.labels.concern}}">
                  <mat-option value = "general">{{text.concerns.general}}</mat-option>
                  <mat-option value = "portrait">{{text.concerns.portrait}}</mat-option>
                  <mat-option value = "dog">{{text.concerns.dog}}</mat-option>
                  <mat-option value = "family">{{text.concerns.family}}</mat-option>      
                  <mat-option value = "couple">{{text.concerns.couple}}</mat-option>      
                  <mat-option value = "friends">{{text.concerns.friends}}</mat-option>      
                  <mat-option value = "individual">{{text.concerns.individual}}</mat-option>      
               </mat-select>
            </mat-form-field>
            <mat-form-field appearance = "fill">
              <textarea rows="15" required formControlName="message" matInput placeholder = "{{text.labels.message}}"></textarea>
           </mat-form-field>
           <mat-checkbox required formControlName="terms">{{text.labels.conditions}}</mat-checkbox>
           <div class="control-buttons">
            <button mat-raised-button  [disabled]="formGroup.value.terms!=true" color="primary" style="float:right" (g-)="onSubmit(formGroup.value)">{{text.labels.submit}}</button>
          </div>
          </div>      
        </form>
      </div>
    </section>
</main>