<main role="main">
    <section style="padding-bottom:0px" class="ui-section-hero">
      <div class="ui-layout-container">
        <h1 align="center">Wartungsarbeiten</h1>
      </div>
    </section>

    <section class="ui-section-feature" style="margin-top:0px;margin-bottom:12em">
        <div align="center" class="ui-layout-container">
            Diese Website sowie die angebotenen Leistungen befinden sich derzeit in grundlegender Überarbeitung. In dieser Zeit können keine Anfragen angenommen werden.<br>
            Danke für euer Verständnis!
        </div>

      </section>
</main>
