<header role="banner" class="ui-section-header" [ngClass]="{'small-head': shrinkHeader==true}">
  <div class="ui-layout-container">
  <div class="ui-section-header__layout ui-layout-flex">
      <!-- LOGO -->
      <a routerLink="/" role="link" aria-label="#" class="ui-section-header--logo">
      <img class="title-icon" src="../assets/icons/rdk-fotografie.jpeg">
      </a>
      <h1 class="title-text" routerLink="/" style="text-decoration:none;">rdk.fotografie</h1>
      <!-- HAMBURGER -->
      <input type="checkbox" id="ui-section-header--menu-id">
      <label for="ui-section-header--menu-id" class="ui-section-header--menu-icon"></label>
      <!-- MENU -->
      <nav role="navigation" class="ui-section-header--nav ui-layout-flex">
        <a routerLink="/about" role="link" aria-label="#" class="ui-section-header--nav-link">Über mich</a>
        <a routerLink="/examples" role="link" aria-label="#" class="ui-section-header--nav-link">Portfolio</a>
        <a routerLink="/services" role="link" aria-label="#" class="ui-section-header--nav-link">Leistungen</a>
        <a routerLink="/contact" role="link" aria-label="#" class="ui-section-header--nav-link">Kontakt</a>
      </nav>
  </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer role="contentinfo" *ngIf="footerEnabled" class="ui-section-footer">
  <div class="ui-layout-container">
    <div class="ui-section-footer__layout ui-layout-flex">
      <!-- COPYRIGHT -->
      <p class="ui-section-footer--copyright ui-text-note"><small>&copy; 2021 RDK-Fotografie</small></p>
      <p class="ui-section-footer--links ui-text-note"><small><a href="impressum">Impressum</a> | <a href="privacy">Datenschutz</a></small></p>
      <!-- MENU -->
      <!--<a href="#" role="link" aria-label="#">
        <svg viewBox="0 0 24 24" height="16" width="16" fill="none" stroke="#AEAEAE" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img" aria-label="#">
          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"/>
        </svg>
      </a>-->
      <a href="https://www.instagram.com/rdk.fotografie/" target="_blank" role="link" aria-label="#">
        <svg viewBox="0 0 24 24" height="16" width="16" fill="none" stroke="#AEAEAE" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img" aria-label="#">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"/>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zM17.5 6.5h.01"/>
        </svg>
      </a>
    </div>
  </div>
</footer>