<meta name="viewport" content="width=device-width, initial-scale=1">

<main role="main">
    <section class="ui-section-hero hero-img">
      <div class="ui-layout-container">
        <h1>{{text.title}}</h1>
      </div>
    </section>
    <section class="ui-section-special" style="display: unset">

    <h3 style="text-align:center" [innerHTML]="text.teaser"></h3>
    <input (change)="changePackage('basic')" type="radio" name="toggle" id="ui-component-toggle__basic">
    <input (change)="changePackage('standard')" type="radio" name="toggle" id="ui-component-toggle__standard" checked>
    <input (change)="changePackage('premium')" type="radio" name="toggle" id="ui-component-toggle__premium">
    <div class="ui-component-toggle ui-layout-flex">
      <label for="ui-component-toggle__basic" class="ui-component-toggle--label">{{text.packages.basic}}</label>
      <label for="ui-component-toggle__standard" class="ui-component-toggle--label">{{text.packages.standard}}</label>
      <label for="ui-component-toggle__premium" class="ui-component-toggle--label">{{text.packages.premium}}</label>
    </div>
    </section>
    <section class="ui-section-special">
      <div class="ui-layout-container">
        <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
    <!-- IMAGE -->
          <div id="modelImg" alt="#" class="ui-image-half-left"></div>
          <!-- FEATURE -->
          <div class="package" *ngIf="package=='basic'">
            <h2>{{text.services.portraits.basic.title}}</h2>
            <p class="ui-text-intro"[innerHTML]="text.services.portraits.basic.description"></p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.portraits.basic.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.portraits.basic.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.portraits.basic.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.portraits.basic.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.portraits.basic.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'portrait')">Hier anfragen</button></div>
          </div>
          <div class="package"*ngIf="package=='standard'">
            <h2>{{text.services.portraits.standard.title}}</h2>
            <p class="ui-text-intro"[innerHTML]="text.services.portraits.standard.description"></p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.portraits.standard.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.portraits.standard.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.portraits.standard.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.portraits.standard.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.portraits.standard.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'portrait')">Hier anfragen</button></div>
          </div>
          <div class="package" *ngIf="package=='premium'">
            <h2>{{text.services.portraits.premium.title}}</h2>
            <p class="ui-text-intro"[innerHTML]="text.services.portraits.premium.description"></p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.portraits.premium.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.portraits.premium.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.portraits.premium.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.portraits.premium.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.portraits.premium.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'portrait')">Hier anfragen</button></div>
          </div>
          </div>
      </div>
    </section>

    <section class="ui-section-feature">
      <div class="ui-layout-container">
        <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
          <!-- FEATURE -->
          <div class="package" *ngIf="package=='basic'">
            <h2>{{text.services.dog.basic.title}}</h2>
            <p class="ui-text-intro"[innerHTML]="text.services.dog.basic.description"></p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.dog.basic.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.dog.basic.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.dog.basic.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.dog.basic.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.dog.basic.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'dog')">Hier anfragen</button></div>
          </div>
          <div class="package" *ngIf="package=='standard'">
            <h2>{{text.services.dog.standard.title}}</h2>
            <p class="ui-text-intro"[innerHTML]="text.services.dog.standard.description"></p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.dog.standard.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.dog.standard.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.dog.standard.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.dog.standard.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.dog.standard.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'dog')">Hier anfragen</button></div>
          </div>
          <div class="package" *ngIf="package=='premium'">
            <h2>{{text.services.dog.premium.title}}</h2>
            <p class="ui-text-intro"[innerHTML]="text.services.dog.premium.description"></p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.dog.premium.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.dog.premium.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.dog.premium.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.dog.premium.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.dog.premium.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'dog')">Hier anfragen</button></div>
          </div>
          <!-- IMAGE -->
          <div id="dogImg" alt="#" class="ui-image-half-right"></div>
          </div>
      </div>
    </section>

    <section class="ui-section-feature">
      <div class="ui-layout-container">
        <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
          <!-- IMAGE -->
          <div id="friendsImg" alt="#" class="ui-image-half-left"></div>
          <!-- FEATURE -->
          <div class="package" *ngIf="package=='basic'">
            <h2>{{text.services.soulmate.basic.title}}</h2>
            <p class="ui-text-intro"[innerHTML]="text.services.soulmate.basic.description"></p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.soulmate.basic.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.soulmate.basic.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.soulmate.basic.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.soulmate.basic.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.soulmate.basic.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'friends')">Hier anfragen</button></div>
          </div>
          <div class="package" *ngIf="package=='standard'">
            <h2>{{text.services.soulmate.standard.title}}</h2>
            <p class="ui-text-intro"[innerHTML]="text.services.soulmate.standard.description"></p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.soulmate.standard.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.soulmate.standard.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.soulmate.standard.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.soulmate.standard.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.soulmate.standard.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'friends')">Hier anfragen</button></div>
          </div>
          <div class="package" *ngIf="package=='premium'">
            <h2>{{text.services.soulmate.premium.title}}</h2>
            <p class="ui-text-intro"[innerHTML]="text.services.soulmate.premium.description"></p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.soulmate.premium.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.soulmate.premium.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.soulmate.premium.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.soulmate.premium.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.soulmate.premium.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'friends')">Hier anfragen</button></div>
          </div>
        </div>
      </div>
    </section>

    <section class="ui-section-feature">
      <div class="ui-layout-container">
        <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
          <!-- FEATURE -->
          <div class="package" *ngIf="package=='basic'">
            <h2>{{text.services.family.basic.title}}</h2>
            <p class="ui-text-intro"[innerHTML]="text.services.family.basic.description"></p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.family.basic.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.family.basic.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.family.basic.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.family.basic.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.family.basic.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'family')">Hier anfragen</button></div>
          </div>
          <div class="package" *ngIf="package=='standard'">
            <h2>{{text.services.family.standard.title}}</h2>
            <p class="ui-text-intro"[innerHTML]="text.services.family.standard.description"></p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.family.standard.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.family.standard.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.family.standard.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.family.standard.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.family.standard.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'family')">Hier anfragen</button></div>
          </div>
          <div class="package" *ngIf="package=='premium'">
            <h2>{{text.services.family.premium.title}}</h2>
            <p class="ui-text-intro"[innerHTML]="text.services.family.premium.description"></p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.family.premium.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.family.premium.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.family.premium.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.family.premium.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.family.premium.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'family')">Hier anfragen</button></div>
          </div>
          <!-- IMAGE -->
          <div id="familyImg" alt="#" class="ui-image-half-right"></div>
        </div>
      </div>
    </section>
    <section class="ui-section-special">

      <p style="text-align:center" [innerHTML]="text.footer"></p>
      </section>
</main>
