.hero-img {
    background-image: url(https://www.dropbox.com/s/j3qqqi9hnqyu7te/head.jpg?raw=1);
    margin-bottom:100px;
}

.ui-section-feature {
    padding-bottom: 5rem;
    background-color: var(--ui-color-background-primary);
    margin-top: 5rem;
  }
  
  .ui-section-feature:nth-child(2n) {
    padding-bottom: 5rem;
    background-color: var(--ui-color-background-secondary);
    margin-top: 5rem;
}

.ui-section-special {
    padding-bottom: 5rem;
    background-color: var(--ui-color-background-primary);
    margin-top: 5rem;
}


#modelImg {
    background-image: url(https://www.dropbox.com/s/3y88plg12rgro29/portraits.jpg?raw=1);
  }
#dogImg {
    background-image: url(https://www.dropbox.com/s/zkh4ctdo02by942/dog.jpg?raw=1);
}
#coupleImg {
    background-image: url(https://www.dropbox.com/s/wqga8578nqcd0kc/couple.jpg?raw=1);
}
#familyImg {
    background-image: url(https://www.dropbox.com/s/j5veef8c45t0yev/family.jpg?raw=1);
}
#friendsImg {
    background-image: url(https://www.dropbox.com/s/e0n8aj4nkacpe22/friends.jpg?raw=1);
}

.price {
    text-align: center;
    font-size: var(--ui-typography-h2);
    font-weight: 700;
}

.button-wrapper {
    text-align:center;
}

@media screen and (min-width: 75rem) {
    .ui-image-half-left {
        width:24em;
        height:18em;
      }
    
    .ui-image-half-right {
        width:24em;
        height:18em;
    }
}

.ui-component-toggle {
    position: sticky;
    top:10%;
}