<main role="main">
    <section class="ui-section-hero hero-img">
      <div class="ui-layout-container">
        <h1>{{text.title}}</h1>
      </div>
    </section>

    <section class="ui-section-feature">
      <div class="ui-layout-container">
        <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
          <!-- IMAGE -->
          <div id="modelImg" alt="#" class="ui-image-half-left"></div>
          <!-- FEATURE -->
          <div>
            <h2>{{text.services.portraits.title}}</h2>
            <p class="ui-text-intro">{{text.services.portraits.description}}</p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.portraits.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.portraits.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.portraits.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.portraits.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.portraits.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'portrait')">Hier anfragen</button></div>
          </div>
          </div>
      </div>
    </section>

    <section class="ui-section-feature">
      <div class="ui-layout-container">
        <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
          <!-- FEATURE -->
          <div>
            <h2>{{text.services.dog.title}}</h2>
            <p class="ui-text-intro">{{text.services.dog.description}}</p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.dog.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.dog.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.dog.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.dog.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.dog.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'dog')">Hier anfragen</button></div>
          </div>
          <!-- IMAGE -->
          <div id="dogImg" alt="#" class="ui-image-half-right"></div>
          </div>
      </div>
    </section>

    <section class="ui-section-feature">
      <div class="ui-layout-container">
        <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
          <!-- IMAGE -->
          <div id="friendsImg" alt="#" class="ui-image-half-left"></div>
          <!-- FEATURE -->
          <div>
            <h2>{{text.services.friends.title}}</h2>
            <p class="ui-text-intro">{{text.services.friends.description}}</p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.friends.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.friends.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.friends.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.friends.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.friends.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'friends')">Hier anfragen</button></div>
          </div>
        </div>
      </div>
    </section>

    <section class="ui-section-feature">
      <div class="ui-layout-container">
        <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
          <!-- FEATURE -->
          <div>
            <h2>{{text.services.family.title}}</h2>
            <p class="ui-text-intro">{{text.services.family.description}}</p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.family.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.family.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.family.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.family.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.family.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'family')">Hier anfragen</button></div>
          </div>
          <!-- IMAGE -->
          <div id="familyImg" alt="#" class="ui-image-half-right"></div>
        </div>
      </div>
    </section>

    <section class="ui-section-feature">
      <div class="ui-layout-container">
        <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
          <!-- IMAGE -->
          <div id="coupleImg" alt="#" class="ui-image-half-left"></div>
          <!-- FEATURE -->
          <div>
            <h2>{{text.services.couple.title}}</h2>
            <p class="ui-text-intro">{{text.services.couple.description}}</p>
            <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.couple.included.i}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.couple.included.ii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.couple.included.iii}}</li>
              <li class="ui-component-list--item ui-component-list--item-check">{{text.services.couple.included.iv}}</li>
            </ul>
            <p class="price">{{text.services.couple.price}}</p>
            <div class="button-wrapper"><button type="button" class="ui-component-button-normal" (click)="navigateToPage('contact', 'couple')">Hier anfragen</button></div>
          </div>
        </div>
      </div>
    </section>
</main>
